<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">

<div class="wrapper-nav-bar">
    <h1>EDM Analytic System</h1>
</div>


<div class="div-text-left">
    <form th:method="PATCH" th:action="@{/edmMachine/{id}(id=${machine.getId()})}" th:object="${machine}">

        <div style="margin-bottom: 2px">
            <label for="title">Enter model</label>
        </div>
        <div style="margin-bottom: 10px">
            <input type="text" th:field="*{title}" id="title" class="form-input">
        </div>
        <div style="color:#ea6a47" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title  errors</div>

        <div style="margin-bottom: 2px">
            <label for="firm">Enter firm</label>
        </div>
        <div style="margin-bottom: 10px">
            <input type="text" th:field="*{firm}" id="firm" class="form-input">
        </div>
        <div style="color:#ea6a47" th:if="${#fields.hasErrors('firm')}" th:errors="*{firm}">Type  errors</div>

        <div style="margin-bottom: 2px">
            <label for="type">Enter type</label>
        </div>
        <div style="margin-bottom: 10px">
            <input type="text" th:field="*{type}" id="type" class="form-input">
        </div>
        <div style="color:#ea6a47" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type  errors</div>

        <div style="margin-bottom: 2px">
            <label for="serialNumber">Enter serial number</label>
        </div>
        <div style="margin-bottom: 10px">
            <input type="text" th:field="*{serialNumber}" id="serialNumber" class="form-input">
        </div>
        <div style="color:#ea6a47" th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}">Serial number errors</div>

        <button type="submit" class="button">Edit</button>

    </form>
    <form  th:method="GET" th:action="@{/edmMachine/{id}(id=${machine.getId()})}">
        <button type="submit" class="button">Back to list</button>
    </form>
</div>



</body>
</html>