<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">
<div class="wrapper-nav-bar">
    <h1>EDM Analytic System</h1>
</div>

<div class="div-text-left">
    <h5 class="center">List of ED machines</h5>
    <div th:each="machine: ${machineList}" class = div-index-list>

        <p th:text="'Serial number: ' + ${machine.getSerialNumber()}" class = text-list>machine</p>
        <p th:text="'Machine type: ' + ${machine.getType()}" class = text-list>machine</p>
        <p th:text="'Machine model: ' + ${machine.getTitle()}" class = text-list>machine model</p>
        <p th:text="'Machine firm: ' + ${machine.getFirm()}" class = text-list>machine firm</p>

        <form  th:action="@{/edmMachine/{id}(id=${machine.getId()})}">
            <button type="submit" class="button">Show</button>
        </form>

    </div>
    <form  action="edmMachine/new">
        <button type="submit" class="button">Add new machine</button>
    </form>

</div>



</body>
</html>