<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDM Analytic System</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">
<div class="wrapper-nav-bar">
    <h1>EDM Analytic System</h1>
</div>

<div class="div-text-left">
    <h5 th:text="'The serial number of the machine  ' + ${machine.getSerialNumber()}" class="center">Serial number of the machine</h5>
    <div class = div-index-list>

        <p th:text="'Machine type: ' + ${machine.getType()}" class = text-list>machine</p>
        <p th:text="'Machine model: ' + ${machine.getTitle()}" class = text-list>machine model</p>
        <p th:text="'Machine firm: ' + ${machine.getFirm()}" class = text-list>machine firm</p>

        <form  th:action="@{/edmMachine/{id}/edit(id=${machine.getId()})}">
            <button type="submit" class="button">Edit</button>
        </form>

    </div>
    <form  th:method="GET" th:action="@{/edmMachine}">
        <button type="submit" class="button">Back to list</button>
    </form>

</div>

</body>
</html>