<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">
<div class="wrapper-nav-bar">
    <h1>EDM Analytic System</h1>
</div>

<div class="div-text-left">

    <form action="employee">
        <button type="submit" class = button>Employees</button>
    </form>
    <form action="edmMachine">
        <button type="submit" class = button>Machines</button>
    </form>

</div>

<!--
 this.name = name;
        this.surname = surname;
        this.seniority = seniority;
        this.salary = salary;
        this.post = post;
        this.age = age;

-->


</body>
</html>