<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">
<div class="wrapper-nav-bar">
    <h1>EDM Analytic System</h1>
</div>

<div class="div-text-left">
    <h5 class = center>List of employees</h5>
    <div th:each="employee: ${employeeList}" class=div-index-list>

        <p th:text="'Name: ' + ${employee.getName()}" class = text-list></p>
        <p th:text="'Surname: ' + ${employee.getSurname()}" class = text-list></p>
        <p th:text="'Seniority: ' + ${employee.getSeniority()}" class = text-list></p>
        <p th:text="'Salary: ' + ${employee.getSalary()}" class = text-list></p>
        <p th:text="'Post: ' + ${employee.getPost()}" class = text-list></p>
        <p th:text="'Age: ' + ${employee.getAge()}" class = text-list></p>

        <form th:action="@{/employee/{id}(id=${employee.getId()})}">
            <button type ="submit" class=button>Show</button>
        </form>
    </div>
    <form action="employee/new">
        <button type="submit" class = button> Add new employee</button>
    </form>
</div>

<!--
 this.name = name;
        this.surname = surname;
        this.seniority = seniority;
        this.salary = salary;
        this.post = post;
        this.age = age;

-->


</body>
</html>