<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EDM Analytic System</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="body">

    <div class="wrapper-nav-bar">
        <h1>EDM Analytic System</h1>
    </div>

    <div class="div-text-center">
        <div class="center">
            <div class="text">
                <h2 class="center">Info</h2>
            </div>
        </div>
        <p>&emsp; Приложение EDM Analytics System разработано для<br>
            ведения аналитики технологического процесса электроэрозионной<br>
            обработки.<br>
            &emsp; Цель разработки - повышение качества продукци, изготваливаемой<br>
            посредством электроэрозионной обработки.<br>
            &emsp; Приложение разработано на языке Java 9, с использованием фреймфорка<br>
            Spring.<br>
            Приложение имеет архитектуру MVC, разработано по методологии REST.

        </p>
        <p> Стек технологий:</p>
        <ul>
            <li>Java 9</li>
            <li>Spring 5.2.1 RELEASE</li>
            <li>MySQL</li>
            <li>Hibernate ORM</li>
            <li>Tomcat 9</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </div>

    <form   action="login">
        <button type="submit" class="button">Back to login page</button>
    </form>

</body>
</html>